/* CSS declarations go here */

html, body {
    height: 100%;
    width: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.bell-preview {
    height: 300px;
    width: 250px;
    margin: 1em auto;
    pointer-events: none;
}

button.bell {
    width: 100%;
    height: 100%;
}

button.bell {
    font-size: 2em;
}

button.bell i {
    font-size: 2em;
}

.switcher {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.active-icon {
    color: red;
    font-size: 8em;
}

.response {
    font-size: 4em;
    height: 100%;
    width: 100%;
    padding-top: 30%;
}

.response.success {
    background: #4ab94d;
    color: #fff;
}

.response.warning {
    background: #ffec19;
    color: #000;
}
